.fe-header {
    display: flex;
    background: $white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 2;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fe-header-brand {
        h3 {
            margin: 0;
            font-weight: bold;
            font-family: $oswald-font-family;

            span {
                color: $primary;
                font-style: italic;
                font-size: 16px;
            }
        }
    }

    .fe-header-nav {
        display: flex;
        gap: 8px;

        a {
            text-decoration: none;
            padding: 0 0.6rem;
            font-weight: 500;
            color: $primary;

            &:hover,
            &:active {
                color: $blueGray-900;
            }
        }
    }
}

.fe-footer {
    background: $white;
    border-top: 1px solid $blueGray-200;
    padding: 1rem 0;
    margin-top: 3rem;
}

// Frontend Content
.fe-content {
    // display: grid;
    // grid-template-columns: 80% 20%;
    // gap: 1.5rem;
}

// Comments
.fe-comments {
    border-top: 1px solid $blueGray-300;
    padding-top: 1.5rem;
    border-radius: 0;
}

.fe-comment-card {
    display: flex;
    margin-bottom: 1rem;

    .media-body {
        flex: 1;
        border-bottom: 1px solid $blueGray-200;
    }

    &:last-child {
        margin-bottom: 0;
        .media-body {
            border-bottom: none;
        }
    }

    .media-avatar,
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
        background: $blueGray-300;
    }

    .email-text {
        font-size: 14px;
        font-weight: 500;
        color: $blueGray-500;
    }

    .datetime {
        font-size: 12px;
        font-weight: 500;
        color: $blueGray-500;
    }
}
